.UserInformation
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .UserInformation__Main
      - if @user.errors.any?
        .Listing__Main__errors
          .Listing__Main__errors__contents
            .Listing__Main__errors__contents__count
              = "#{@user.errors.full_messages.count}件のエラーが発生しました。"
            %ul.Listing__Main__errors__contents__message
              - @user.errors.full_messages.each do |message|
                %li= message
      .UserInformation__Main__title
        .UserInformation__Main__title__content
          会員情報入力

      %hr

      .UserInformation__Main__contents
        .UserInformation__Main__contents__nickname
          %label.user__title ニックネーム
          %span.user__subtitle 必須
          = f.text_field :nickname , placeholder: "例)フリマ次郎", class: "user-input"
          
        .UserInformation__Main__contents__email
          %label.user__title メールアドレス
          %span.user__subtitle 必須
          = f.text_field :email ,placeholder: "PC・携帯どちらでも可",class: "user-input"
          
        .UserInformation__Main__contents__password
          %label.user__title パスワード
          %span.user__subtitle 必須
          = f.text_field :password ,placeholder: "7文字以上の半角英数字",class: "user-input"
          .UserInformation__Main__contents__password__text
            ※英字と数字の両方を含めて設定してください

        .UserInformation__Main__contents__check
          .UserInformation__Main__contents__check__title
            本人確認
          .UserInformation__Main__contents__check__text  
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        
        
        .UserInformation__Main__name
          .UserInformation__Main__name__zenkaku
            %label.user__title お名前(全角)
            %span.user__subtitle 必須
            .UserInformation__Main__name__zenkaku__contents
              .UserInformation__Main__name__zenkaku__contents__lastname
                = f.text_field :first_name ,placeholder: "例)山田",class: "user-name-input"
              .UserInformation__Main__name__zenkaku__contents__firstname
                = f.text_field :last_name ,placeholder: "例)花子",class: "user-name-input"


          .UserInformation__Main__name__kana  
            %label.user__title お名前ｶﾅ(全角)
            %span.user__subtitle 必須
          .UserInformation__Main__name__kana__contents
            .UserInformation__Main__name__kana__contents__lastname
              = f.text_field :first_name_kana ,placeholder: "例)ヤマダ",class: "user-name-input"
            .UserInformation__Main__name__kana__contents__firstname
              = f.text_field :last_name_kana ,placeholder: "例)ハナコ",class: "user-name-input"

          .UserInformation__Main__birthday
            %label.user__title 生年月日
            %span.user__subtitle 必須
          .UserInformation__Main__birthday__input
            != sprintf(f.date_select(:birthday, {prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'},{class:"day-input2"}),'年','月')+'日'

      %hr
      = f.fields_for :address do |address|
        .UserInformation__Main__address
          .UserInformation__Main__address__send
            送付先情報
          .UserInformation__Main__address__name
            .UserInformation__Main__address__name__zenkaku
              %label.user__title お名前(全角)
              %span.user__subtitle 必須
              .UserInformation__Main__address__name__zenkaku__contents
                .UserInformation__Main__address__name__zenkaku__contents__lastname
                  = address.text_field :last_name ,placeholder: "例)山田",class: "user-name-input"
                .UserInformation__Main__address__name__zenkaku__contents__firstname
                  = address.text_field :first_name ,placeholder: "例)花子",class: "user-name-input"



            .UserInformation__Main__address__name__kana  
              %label.user__title お名前ｶﾅ(全角)
              %span.user__subtitle 必須
              .UserInformation__Main__address__name__kana__contents
                .UserInformation__Main__address__name__kana__contents__lastname
                  = address.text_field :last_name_kana ,placeholder: "例)山田",class: "user-name-input"
                .UserInformation__Main__address__name__kana__contents__firstname
                  = address.text_field :first_name_kana ,placeholder: "例)花子",class: "user-name-input"

            .UserInformation__Main__address__zipcode
              %label.user__title 郵便番号
              %span.user__subtitle 必須
              .UserInformation__Main__zip__code__contents
                = address.text_field :zip_code ,placeholder: "例)555-0015",class: "user-input"
            
            .UserInformation__Main__address__prefecture
              %label.user__title 都道府県
              %span.user__subtitle 必須
              .UserInformation__Main__prefecture__contents
                = address.text_field :prefecture ,placeholder: "例)大阪府",class: "user-input"

            .UserInformation__Main__address__city
              %label.user__title 市町村
              %span.user__subtitle 必須
              .UserInformation__Main__address__city__contents
                = address.text_field :city ,placeholder: "例)大阪市",class: "user-input"

            .UserInformation__Main__address__town
              %label.user__title 区、町、村
              %span.user__subtitle 必須
              .UserInformation__Main__address__town__contents
                = address.text_field :town,placeholder: "例)中央区",class: "user-input"

            .UserInformation__Main__address__number
              %label.user__title 番地
              %span.user__subtitle 必須
              .UserInformation__Main__address__number__conten
                = address.text_field :number ,placeholder: "例)1丁目1-1",class: "user-input"

            .UserInformation__Main__address__building
              %label.user__title 建物名
              %span.user__subtitle 必須
              .UserInformation__Main__address__building__contents
                = address.text_field :building ,placeholder: "例)マンション名",class: "user-input"

            .UserInformation__Main__address__telephone
              %label.user__title 電話番号
              %span.user__subtitle 必須
              .UserInformation__Main__address__telephone__contents
                = address.text_field :telephone ,placeholder: "例)06~~~~~~~~",class: "user-input"


          .UserInformation__Main__button
            = f.submit '登録', class: 'user-submit'
