.Confirm__Main
  .Confirm__Main__content
    .Confirm__Main__content__title
      購入内容の確認
    .Confirm__Main__content__purchasedetail
      = image_tag "#{@product_image.image}", alt: "商品画像", class: "Confirm__Main__content__purchasedetail__image"
      .Confirm__Main__content__purchasedetail__detail
        .Confirm__Main__content__purchasedetail__detail__name
          = @product.name
        .Confirm__Main__content__purchasedetail__detail__price
          .Confirm__Main__content__purchasedetail__detail__price__text
            送料込み(税込)
          .Confirm__Main__content__purchasedetail__detail__price__price
            = "¥" + @product.price.to_s(:delimited)
    .Confirm__Main__content__payment
      .Confirm__Main__content__payment__text
        支払い金額
      .Confirm__Main__content__payment__money
        = "¥" + @product.price.to_s(:delimited)
    .Confirm__Main__content__payment-method
      .Confirm__Main__content__payment-method__menu
        .Confirm__Main__content__payment-method__menu__text
          支払い方法
        .Confirm__Main__content__payment-method__menu__change
          = link_to "変更する >", "#"
      .Confirm__Main__content__payment-method__menu__method
        カード払い
    .Confirm__Main__content__address
      .Confirm__Main__content__address__menu
        .Confirm__Main__content__address__menu__text
          配送先
        .Confirm__Main__content__address__menu__change
          = link_to "変更する >", "#"
      .Confirm__Main__content__address__code
        = "〒" + @address.zip_code
      .Confirm__Main__content__address__address
        = @address.prefecture + " " + @address.city + " " + @address.town + " " + @address.number + " " + @address.building
      .Confirm__Main__content__address__name
        鉄躯 太郎
    .Confirm__Main__content__purchase-button
      .Confirm__Main__content__purchase-button__button
        購入する