.UserInformation
  = form_with model: @user, local: true do |f|
    .UserInformation__Main
      .UserInformation__Main__title
        .UserInformation__Main__title__content
          会員情報入力

      %hr

      .UserInformation__Main__contents
        .UserInformation__Main__contents__nickname
          %label.user__title ニックネーム
          %span.user__subtitle 必須
          %form.UserInformation__Main__contents__nickname__content
          = f.text_field :name , placeholder: "例)フリマ次郎", class: "user-input"
          
        .UserInformation__Main__contents__email
          %label.user__title メールアドレス
          %span.user__subtitle 必須
          = f.text_field :email ,placeholder: "PC・携帯どちらでも可",class: "user-input"
          

        .UserInformation__Main__contents__password
          %label.user__title パスワード
          %span.user__subtitle 必須
          %form.UserInformation__Main__contents-nickname-content
          = f.text_field :password ,placeholder: "7文字以上の半角英数字",class: "user-input"
          .UserInformation__Main__contents__password__text
            ※英字と数字の両方を含めて設定してください

        .UserInformation__Main__contents__check
          .UserInformation__Main__contents__check__title
            本人確認
          .UserInformation__Main__contents__check__text  
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        
        
        .UserInformation__Main__name
          .UserInformation__Main__name__zenkaku
            %label.user__title お名前(全角)
            %span.user__subtitle 必須
            .UserInformation__Main__name__zenkaku__contents
              .UserInformation__Main__name__zenkaku__contents__lastname
                = f.text_field :name ,placeholder: "例)山田",class: "user-name-input"
              .UserInformation__Main__name__zenkaku__contents__firstname
                = f.text_field :name ,placeholder: "例)花子",class: "user-name-input"


          .UserInformation__Main__name__kana  
            %label.user__title お名前ｶﾅ(全角)
            %span.user__subtitle 必須
          .UserInformation__Main__name__kana__contents
            .UserInformation__Main__name__kana__contents__lastname
              = f.text_field :name ,placeholder: "例)ヤマダ",class: "user-name-input"
            .UserInformation__Main__name__kana__contents__firstname
              = f.text_field :name ,placeholder: "例)ハナコ",class: "user-name-input"

          .UserInformation__Main__birthday
            %label.user__title 生年月日
            %span.user__subtitle 必須
          .UserInformation__Main__birthday__input__Year
            = f.date_select :birthday ,{use_month_numbers:true, date_separator:'年'}, class: "day-input2"
            = "日"

      .UserInformation__Main__button
        = f.submit '登録', class: 'user-submit'





