.Confirm__Footer
  .Confirm__Footer__content
    %ul.Confirm__Footer__content__list
      %li.Confirm__Footer__content__list__link
        = link_to "#" do
          プライバシーポリシー
      %li.Confirm__Footer__content__list__link
        = link_to "#" do
          FURIMA利用規約
      %li.Confirm__Footer__content__list__link
        = link_to "#" do
          特定商取引に関する表記
  = link_to root_path do
    = image_tag asset_path("logo.png"), alt: "furima", class: "Confirm__Footer__logo"
  .Confirm__Footer__copyright
    ©FURIMA