!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    -# %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %title FleamarketSample80d
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %script{src: "https://code.jquery.com/jquery-3.3.1.slim.min.js"}
  %body
    .Confirm__Header
      = image_tag asset_path("logo.png"), alt: "furima", class: "Confirm__Header__logo"
    = yield
    .Confirm__Footer
      .Confirm__Footer__content
        content
      = image_tag asset_path("logo.png"), alt: "furima", class: "Confirm__Footer__logo"
      .Confirm__Footer__copyright
        ©FURIMA
